/*single product page*/
h1.product_title { color: #65554D; font-size: 25px; padding-bottom: 5px !important; text-transform: uppercase }
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register { border: 0px; padding:0px; }
.woocommerce-info { border-top-color: #77A1A0; }
.woocommerce-info:before { color:#77A1A0; }
.woocommerce-MyAccount-content fieldset { margin-top: 30px; }
.woocommerce-MyAccount-content h3, .woocommerce-MyAccount-content legend { margin-top:20px; margin-bottom: 20px; font-size: 18px; font-weight: bold; text-transform: uppercase; border-bottom:0px; }
.woocommerce-MyAccount-content address { margin-top: 25px; }

.woocommerce .input-text { border: solid 1px #C3C2C2; padding:10px; /*border-radius: 15px;*/ }
.results-state-victoria span.Warehouse { display: none }

/*woocommerce checkout*/
.woocommerce-checkout .woocommerce .input-text { border-radius: 0; height: 36px }
.woocommerce-checkout .woocommerce select { height: 36px }
.woocommerce-checkout .woocommerce form .form-row .select2-container { line-height: 2.6em }
.woocommerce-checkout #customer_details label { font-weight: bold; font-size: 13px }
.woocommerce-checkout .woocommerce form .form-row .required { color: #333 }
.woocommerce-checkout h3 { font-size: 18px; font-weight: 600; text-transform: uppercase; padding-bottom: 1em; position: relative }
.woocommerce-checkout h3:before { font-family: 'FontAwesome';  content: "\f107"; display: inline-block; margin-right: 8px }
.woocommerce-checkout .woocommerce-billing-fields h3 { border-top: solid 5px #E1E1E1; padding-top: 20px; }
.woocommerce-checkout .woocommerce-shipping-fields { padding-top: 2.5em }
.right-box-checkout { border: solid 5px #77A19F; padding: 25px }
.woocommerce-checkout .woocommerce table.shop_table { border: none }
.woocommerce-checkout .woocommerce table.shop_table th, .woocommerce-checkout .woocommerce table.shop_table td { padding-left: 0; padding-right: 0 }
.woocommerce-checkout .shop_table tbody th { border-bottom: solid 5px #ddd; }
textarea#order_comments { height: 100px }
.woocommerce-checkout .woocommerce-info { background: none; border: none; padding: 0 !important; margin-bottom: 1em !important }
.woocommerce-checkout .woocommerce-info:before, .woocommerce-checkout div.payment_box:before, a.about_paypal { display: none !important }
.woocommerce-checkout .woocommerce-info a.showcoupon, .woocommerce-checkout .woocommerce-info a.showlogin { color: #538582 }
.woocommerce-checkout .woocommerce input.button { background: #77A1A0; color: #fff; padding-top: 12px; padding-bottom: 12px }
.woocommerce-checkout .checkout_coupon p { width: 50% }
.woocommerce-checkout #payment, .woocommerce-checkout div.payment_box, .woocommerce-checkout #payment ul.payment_methods, .woocommerce-checkout #payment div.form-row { background: none !important; padding: 0 !important }
.woocommerce-checkout #payment div.form-row { margin-top: 15px }
.woocommerce-checkout #payment ul.payment_methods { border-top: solid 5px #E1E1E1; padding-top: 20px !important }
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order { float: left; margin-top: 15px }

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover { background: #538582 }


/*CHECKOUT STEPS*/
.checkout-steps li { list-style: none; display: inline-block; font-weight: 600; text-transform: uppercase; padding-right: 100px; color:#65534D; font-size: 15px; margin-bottom: 20px }
.checkout-steps li.muted { color: #E0DDDB; }
.checkout-steps li span { display: inline-block; height: 24px; width: 24px; border: solid 2px #65534D; color: #65534D; text-align: center; line-height: 20px; border-radius: 50px; font-weight: 600; margin-right: 10px }
.checkout-steps li.muted span { border: solid 2px #E0DDDB; color: #E0DDDB; }
.checkout-steps li.last { padding-right: 0 }
/*cart*/
.woocommerce table.shop_table.cart, .cart-sidebar table { border: none !important }
.cart-sidebar table { margin-bottom: 10px !important }
.cart th, .cart-sidebar h2, .cart-coupon h3 { border-bottom: solid 5px #E1E1E1; text-transform: uppercase; color: #676767; font-weight: 600 !important; font-size: 14px; padding: 0 12px 10px 0 !important }
.cart-contents td { padding: 15px 10px !important }
.woocommerce a.remove { background: #D8D4D2; color: #7A716E !important }
.cart-contents input { padding: 6px 10px !important }
.cart-sidebar h2 { padding: 0 12px 14px 0 !important; margin-bottom: 15px }
.cart-sidebar .wc-proceed-to-checkout { display: none }

.shipping-info-to-customer { font-size: 13px; padding-bottom: 15px; border-bottom: solid 5px #E1E1E1; margin-bottom: 20px }
.shipping-info-to-customer span { display: block; color: #c00; font-weight: 600 }

.update_cart_btn { margin-bottom: 12px }
.cart-sidebar input[type="submit"], button.checkout-button { display: block; width: 100%; border-radius: 0 !important; padding: 15px 1em !important; color: #fff }
.cart-sidebar input.button:disabled[disabled] { padding: 15px 1em; color: #fff !important }
.cart-sidebar input[type="submit"]:hover { color: #fff !important }
.update_cart_btn input, .cart-coupon input[type="submit"] { background: #B9A59D !important }
.checkout_proceed_btn input, button.checkout-button { background: #79A19F !important }
button.checkout-button { color: #fff !important }
.cart-coupon { margin-top: 3em }
.cart-coupon input[type="text"] { width: 100%; border: solid 1px #BCBCBC; margin: 10px 0; height: 37px; padding: 7px }

.cart-subtotal th, .order-total th { padding-left: 0 !important }
.cart-subtotal td, .order-total td, .cart_item td.product-total, body.woocommerce-checkout th.product-total { text-align: right; padding-right: 0 !important }

.woocommerce-message { border-top-color: #77A1A0 !important }
.woocommerce-message:before { color: #77A1A0 !important }

.woocommerce-FormRow input[type="submit"]:hover { color: #fff }
.woocommerce-FormRow input[type="submit"]:focus, .woocommerce-FormRow input[type="submit"]:active { padding: 0 35px !important }

.yith-wcwl-add-to-wishlist { padding: 7px 0 !important }

.modal-dialog { margin: 20% auto; }

.woocommerce-order-received h2, .woocommerce-view-order h2 { font-size: 23px; padding-bottom: 20px }
.woocommerce-order-received .shop_table tbody th { border-bottom: none !important }
.woocommerce-order-received th.product-total { text-align: left !important }
.woocommerce-order-pay p.wc-terms-and-conditions { float: none !important }


.woocommerce-product-gallery__image { padding: 10px 5px 5px 5px }






@media(max-width: 767px){
	.checkout-steps li { padding: 0; display: block; }
}


.woocommerce div.product p.price, .woocommerce div.product span.price { font-size: 24px; color:#66554e; margin-bottom: 20px; }

@media(min-width:992px){
	#customer_details { padding-right: 3em }
	.cart-wrapper { padding-right: 25px; border-right: solid 1px #ccc; min-height: 185px }
}
