<html>
<body>
  <table style="width: 100%">
    <tr>
      <td>
        <center>
          <div style="margin: 30px auto 0; width: 600px;">
            <table border="0" bordercolor="#eee" style="margin: 0 auto; width: 600px; border-collapse: collapse; border: solid 1px #999" cellpadding="0" cellspacing="0">
              <tbody>
                <tr><td
                  style="text-align:center; padding: 20px"><img src="http://www.domo.com.au/wp-content/uploads/2016/11/domologo-slim.jpg" alt="DOMO" width="194"></td></tr>
                <tr><td style="padding: 20px 15px; font-size: 15px; font-family: sans-serif; line-height: 22px">Dear {{firstName}},<br> <br>
                  Please click the link below to verify your email address
                  <br><br>
                  <a href="https://www.domo.com.au/verify-email?user={{userID}}&verify=true&code={{verifyCode}}">Verify Email Address</a>
                  <br><br>
                  Regards,<br>
                  DOMO
                </td></tr>
                <tr><td><img src="https://www.domo.com.au/wp-content/uploads/2017/03/domo_welcome.jpg"></td></tr>
              </tbody>
            </table>
          </div>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
