<html>
<body>
  <table style="width: 100%">
    <tr>
      <td>
        <center>
          <div style="margin: 30px auto 0; width: 600px;">
            <table border="0" bordercolor="#eee" style="margin: 0 auto; width: 600px; border-collapse: collapse; border: solid 1px #999" cellpadding="0" cellspacing="0">
              <tbody>
                <tr><td
                  style="text-align:center; padding: 20px"><img src="http://www.domo.com.au/wp-content/uploads/2016/11/domologo-slim.jpg" alt="DOMO" width="194"></td></tr>
                <tr><td style="padding: 20px 15px; font-size: 15px; font-family: sans-serif; line-height: 22px">Dear {{firstName}},<br> <br>
                  {{content}}
                  <br><br>
                  Many Thanks,<br>
                  Frank Novembre and the DOMO team
                </td></tr>
                <tr>
                  <td style="padding: 20px 15px 0; font-size: 15px; font-family: sans-serif; line-height: 22px">Don't Forget to follow us on</td>
                </tr>
                <tr>
                  <td style="padding: 20px 15px; font-size: 15px; font-family: sans-serif; line-height: 22px">
                    <a href="https://www.facebook.com/Domo.LiveBeautifully" target="_blank" style="display:inline-block;margin-right:8px"><img src="https://www.domo.com.au/wp-content/uploads/2017/03/icon-facebook.png" alt="DOMO Facebook" width="39"></a>
                    <a href="https://www.instagram.com/domoaustralia/" target="_blank"><img src="https://www.domo.com.au/wp-content/uploads/2017/03/icon-instagram.png" alt="DOMO Instagram" width="39"></a>
                  </td>
                </tr>
                <tr><td><img src="https://www.domo.com.au/wp-content/uploads/2017/03/domo_welcome.jpg"></td></tr>
              </tbody>
            </table>
          </div>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
