/*Reset*/
body { font-family: 'Open Sans', sans-serif; color: #464646; background: #E7E7E7 }
h1, h2, h3 { margin: 0; }
a { color: #614F49 }
a:hover  {  text-decoration: none; color: #67534B }
a:focus, a:active  {  outline: none; text-decoration: none; color: #67534B }
img {  max-width: 100%; height: auto }
ul {  margin: 0; padding: 0 }
li {  list-style: none; }
p {  font-size: 0.97em; line-height: 1.65em; color: #474747 }
.ptb-1em { padding: 1em 0 }.ptb-2em { padding: 2em 0 }.ptb-3em { padding: 3em 0 }.ptb-4em { padding: 4em 0 }.ptb-5em { padding: 5em 0 }.ptb-6em { padding: 6em 0 }.pt-1em { padding-top: 1em }.pt-2em { padding-top: 2em }.pt-3em { padding-top: 3em }.pt-4em { padding-top: 4em }.pt-5em { padding-top: 5em }.pt-6em { padding-top: 6em }.pb-1em { padding-bottom: 1em }.pb-2em { padding-bottom: 2em }.pb-3em { padding-bottom: 3em }.pb-4em { padding-bottom: 4em }.pb-5em { padding-bottom: 5em }.pb-6em { padding-bottom: 6em }.mr-8 { margin-right: 8px }.ml-8 { margin-left: 8px }.rounded_btn { border-radius: 100px }.border_only { border: solid 1px #fff; }.button { display: inline-block; padding: 10px 25px; font-size: 15px; text-transform: uppercase; font-weight: 600; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }

/*header*/
.pos-relative { position: relative }
.logo { margin: 0 auto; max-width: 235px }
.top-right-block { position: absolute; right: 5px; top: 15px }
.top-right-block>ul>li { font-size: 14px; padding: 0 10px; display: inline-block; }
.top-right-block li img { vertical-align: top }
.top-right-block li i { font-size: 18px }
li.sign-in { padding-right: 18px !important; position: relative; padding-bottom: 15px !important }
li.wishlist-count { border-left: solid 1px #635148; padding-left: 18px !important }
li.wishlist-count small, .cart-count small { padding-left: 8px; font-size: 14px }
header.main-header { background: #fff; position: fixed; top: 0; width: 100%; z-index: 10; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
.header-search input.form-control { border-radius: 100px; border: solid 1px #BEBEBE; height: 35px; margin-top: 7px; max-width: 170px }
.header-search .form-group { position: relative }
.header-search .form-group:after, .mobile_search fieldset:after { font-family:'FontAwesome'; content:"\f002"; display: inline-block; position: absolute; right: 14px; top: 15px; color: #79a19f; font-size: 13px }
.main-header .navbar { border-radius: 0; margin-bottom: 0; border: none; border-top: solid 1px #BDA2A5 }
.main-header .nav>li>a { padding: 25px 20px; text-transform: uppercase; color: #5C5253; font-weight: 400; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
body.logged-in header.main-header { top: 30px }

.main-header .navbar-left { float: right !important }
.main-header .dropdown-menu { border: none; padding: 20px 0; border-radius: 0 }
.main-header .dropdown-menu a { text-transform: uppercase; }
.main-header .nav .open>a, .main-header .nav .open>a:hover, .main-header .nav .open>a:focus { background: none }
.heading_title a { font-weight: bold; color: #000 }
li.current-menu-item>a { font-weight: bold; color:#000; }
.menu-col li>a { display: block; padding: 8px 3px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.menu-col li>a:hover { padding-left: 10px; color: #975336 }
.menu-col li>a.menu-image:hover { padding-left: 3px; }
.dropdown-menu li.menu-item-object-menu_image img { max-height: 160px; }
.menu-col:first-child { padding-left: 0px; }
.mobile_search { border-top: solid 1px #ccc; padding: 10px 20px; margin: 0 -17px; clear: both; }
.mobile_search .navbar-form { padding: 0 }
.mobile_search input[type="search"] { border-radius: 100px; border: solid 1px #bebebe; min-height: 35px; width: 100%; padding-left: 15px }
.mobile_search fieldset { position: relative }
.mobile_search fieldset:after { top: 9px }
.off-canvas-nav-left.out .darkbg { background: rgba(0,0,0,0.55); height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: 11 }
.top-header { -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.account-dtls { position: absolute; width: 193px; border: solid 1px #B8C9C9; right: 0; top: 30px; padding: 15px 15px 25px 15px; border-top: solid 8px #B8C9C9; background: #F6F6F6; z-index: 12; display: none; }
.account-dtls>li>a { display: block; border-bottom: solid 1px #B8C9C9; padding: 10px 0 }
li.sign-in:hover .account-dtls { display: block; }
.button_link a { display: inline-block; background: #A78F87; border-radius: 100px; line-height: 26px; color: #fff !important; text-transform: uppercase; text-align: center; margin-top: 15px; font-weight: 700; font-size: 14px; margin-bottom: 15px }
li.teal_color a, li.darkred_color a { font-weight: 600; color: #C03C1D }
li.teal_color a { color: #599A97 }

.sign-in-box { position: relative; background: rgba(247,247,247,0.97); width: 100%;  box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset; display: none }
.sign-in-box h3 { font-size: 17px; font-weight: 700; color: #65554D; border-bottom: solid 6px #B7C7C7; padding-bottom: 10px }
.login-section fieldset { padding-top: 20px }
.login-section input[type="text"], .login-section input[type="email"], .login-section input[type="password"], input.form-control { background: #fff; border: solid 1px #C3C2C2; border-radius: 100px; width: 100%; padding-left: 15px; height: 36px }
.log_in_section { padding-right: 5em; border-right: solid 1px #B7C7C7 }
.sign_up_section { padding-left: 5em }
.sign_up_section p { padding: 20px 0; margin: 0 }
ul.signup_member_benefits { margin-bottom: 20px }
.signup_member_benefits li { padding: 4px 0; font-weight: 700; color: #65554D; text-transform: uppercase }
.signup_member_benefits i { color: #B6B0AE }
.joindomo a.view_more_btn, .login-section input[type="submit"], .woocommerce input[type="submit"].woocommerce-Button { background: #79A19F !important }
.sign-in-box>.container { position: relative }
.closebox { position: absolute; top: -20px; right: 10px }
.closebox i { font-size: 1.6em; color: #a29a98; }

/*banner*/
.banner { padding-top: 20px; margin-top: 170px }
.banner-items { position: relative; min-height: 630px; background-size: cover; background-position: top center; background-repeat: no-repeat }
.banner-info { position: relative; background: rgba(198,54,39,1.0); padding: 2em; min-height: 180px; display:flex; align-items: flex-start; justify-content: center; flex-direction: column;}
.banner-info * { color: #fff }
.banner-info h1 { text-transform: uppercase; font-weight: 700; font-size: 3em; color: #fff }
.banner-info h2 { text-transform: uppercase; font-weight: 700; font-size: 2.8em; padding-top: 10px; padding-bottom: 0 }
.banner-info p>span>a { float: right;    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -25px; }
.banner-info .button:hover { color:rgba(255,255,255,0.6); }
.banner-info p { font-size: 16px; text-transform: uppercase; font-weight: 400 }
.triangle-bottomright { width: 0; height: 0; border-bottom: 30px solid #fff; border-left: 30px solid transparent; }
.banner-info .triangle-bottomright { position: absolute; right: 15px; bottom: 15px; }
.banner-slide .owl-dots { display: block; text-align: center; padding-top: 15px}
.banner-slide .owl-dots .owl-dot { display: inline-block; }
.banner-slide .owl-dot>span { height: 8px; width: 8px; background: #666; border-radius: 50px; display: inline-block; margin-right: 4px }
.banner-slide .owl-dot.active>span { background: #222 }
/*content home*/
.featured_item, .featured_item_long, .brand_profile_box { position: relative; }

.half_width_half, .half_width_full, .full_width_img { min-height: 360px; background-position: bottom; background-size: cover; background-repeat: no-repeat }
.half_width_full { min-height: 740px; }
.full_width_img { min-height: 580px }
h1.page-title { color: #7F7F7F; font-size: 20px; font-weight: 700; text-transform: uppercase; line-height: 32px }


.featured-details { background: #645A58; width: 100%; padding: 15px 20px; position: relative; }
.featured-details * { color: #fff }
.featured-details p, .first_featured .featured-details h3 { text-transform: uppercase; font-size: 17px; margin-bottom: 2px }
.first_featured .featured-details h3 { font-weight: 400 }
.featured-details h3 { font-weight: 700; font-size: 23px; text-transform: uppercase; letter-spacing: 1px }
.featured-details .triangle-bottomright { position: absolute; right: 15px; bottom: 15px; border-bottom: solid 30px rgba(255,255,255,0.5) }
.whitecontentbox .triangle-bottomright { position: absolute; right: 15px; bottom: 15px; border-bottom: solid 30px #79A09E }
.darkblue { background: #3A3C4F }
.darkbrown { background: #975336 }
.brown { background: #846E51 }
.whitecontentbox { background: #fff; border: solid 1px #B99C97; margin: 20px 0; text-align: center; padding-left: 25px; padding-right: 25px; position: relative }
.whitecontentbox h2 { font-weight: 300; color: #614F49; line-height: 38px; vertical-align: top }
.whitecontentbox h2>img { vertical-align: top; height: 28px; margin-top: 5px }
.whitecontentbox p { color: #676767; margin: 20px auto 30px; max-width: 620px; font-size: 16px }
.whitecontentbox a { font-size: 16px; font-weight: 400; display: inline-block; color: #71615B }
/*newsletter homepage*/
.domo-newsletter { margin: 20px 0 }
.newsletter_brandimage { background: url('../img/domo-newsletter.jpg') no-repeat; background-size: cover; position: relative; min-height: 480px }
.newsletter-infobox { position: absolute; top: 50%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); background: rgba(255,255,255,0.90); padding: 25px 40px; max-width: 580px }
.domo-newsletter {  }
.newsletter-infobox h2 { font-weight: 700; font-size: 40px; color: #2C1710 }
.newsletter-infobox h2>span { font-weight: 300 }
.newsletter-infobox p { font-size: 23px; margin-top: 5px; color: #2C1710 }
.newsletter_box { background: #4F837F; min-height: 480px; padding:25px; position: relative }
.domo-newsletter .newsletter_box { padding:0px; }
.newsletter_box_content { padding:25px; text-align: center; color:#FFF; font-size: 15px; }
.newsletter_box_content b { font-size: 17px; }
.newsletter_box_content .fa { font-size: 25px; margin-top:10px; }
.newsletter_box_content .fa-comment { margin-top: 0px; }
.newsletter_box_content a { font-weight: bold; color:#FFF; font-size: 16px; background:#614f49; padding: 30px; padding-top:5px; padding-bottom: 5px; border-radius: 20px; }
.newsletter_box .title_box { background: #645A58; text-align: center; padding:20px; padding-left:50px; padding-right: 50px; color:#FFF; font-weight: bold; font-size: 20px; }
h3.newsletter_head { font-size: 18px; text-transform: uppercase; color: #fff; padding: 30px 0 }
.newsletter-form input[type="text"], .newsletter-form input[type="email"], .newsletter-form input[type="password"], .quick_career_form input[type="text"], .quick_career_form input[type="email"], .quick_career_form textarea { background: #8BAFAE; border: solid 1px #BFBDC2; color: #fff; height: 35px; border-radius: 100px; width: 100%; padding-left: 15px }
.newsletter-form input[type="text"]:focus, .newsletter-form input[type="email"]:focus, .newsletter-form input[type="password"]:focus { outline: none; }
.newsletter-form input[type="submit"], .login-section input[type="submit"], .woocommerce input[type="submit"].woocommerce-Button, .enquire-product-form input[type="submit"], #respond input[type="submit"], .quick_career_form input[type="submit"] { display: inline-block; background: #625048; line-height: 37px; border-radius: 100px; border: none; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 600; padding: 0 35px; }
.newsletter-form input[type="text"]::-webkit-input-placeholder, .newsletter-form input[type="email"]::-webkit-input-placeholder { color: #fff; }
.newsletter-form fieldset { margin-bottom: 20px }
.newsletter-tab .nav-tabs { border-bottom: 0; background: #628585; margin-bottom: 35px }
.newsletter-tab .nav-tabs>li { width: 50%; text-align: center; margin-bottom: 0 }
.newsletter-tab .nav-tabs>li>a { margin-right: 0; border-radius: 0; color: #fff }
.newsletter-tab .nav-tabs>li.active>a, .newsletter-tab .nav-tabs>li.active>a:hover, .newsletter-tab .nav-tabs>li.active>a:focus { border: 1px solid transparent; color: #fff; background-color: #415A5A; }
.newsletter-tab .nav-tabs>li.active>a:after { font-family:'FontAwesome'; content:"\f0d7"; display: inline-block; position: absolute; left: 47%; bottom: -21px; color: #415A5A; font-size: 24px }
.newsletter-tab .nav>li>a:hover, .newsletter-tab .nav>li>a:focus { background-color: #547474 }
.newsletter-tab .nav-tabs>li>a:hover { border-color: #415A5A; }
.centered_header { border-top: 4px solid #D0C5BF; }
.centered_header h2 { margin: -17px auto 0; background: #E7E7E7; padding: 0 30px; max-width: 250px; text-align: center; color: #614F47; font-weight: 700; text-transform: uppercase; font-size: 26px }
.domo-shop-online .centered_header h2 { background: #fff; }
.centered_header h2 span { font-weight: 400 }
.online-product-slider, .extra_gallery_slider { padding-left: 50px; padding-right: 50px }
.online-product-slider .owl-prev, .online-product-slider .owl-next, .extra_gallery_slider .owl-prev, .extra_gallery_slider .owl-next { position: absolute; top: 50%; -webkit-transform: translate(-50%,0); transform: translate(-50%,0); }
.extra_gallery_slider .owl-prev, .extra_gallery_slider .owl-next { -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.online-product-slider .owl-prev, .extra_gallery_slider .owl-prev { left: 10px }
.online-product-slider .owl-next, .extra_gallery_slider .owl-next{ right: 0 }
.online-product-slider .owl-prev:before, .extra_gallery_slider .owl-prev:before { font-family: 'FontAwesome';  content: "\f104"; color: #293239; font-size: 2.2em }
.online-product-slider .owl-next:before, .extra_gallery_slider .owl-next:before { font-family: 'FontAwesome';  content: "\f105"; color: #293239; font-size: 2.2em }
.itemslider { border: solid 1px #C9C9C9; padding: 10px 15px; text-align: center }
.itemslider figure { max-height: 240px; overflow: hidden; margin-bottom: 15px }
.itemslider a { display: block }
.itemslider h4 { color: #614F49; font-size: 14px; line-height: 21px }
.itemslider h5 { color: #998D8B; font-size: 12px }

.news_content { background: #fff; padding: 25px; border: solid 1px #BDA4A4; }
.news_content h3>a { color: #2C1710; font-size: 19px; font-weight: 700 }
.news_content p { padding: 16px 0 20px; color: #676767; margin: 0; min-height: 100px; }
.news_image { height: 240px; width:100%; background-size: cover; background-repeat: no-repeat; background-position: center center; }
a.view_more_btn, .view-all-section a { background: #998E8C; border-radius: 100px; display: inline-block; line-height: 38px; padding: 0 35px; color: #fff; font-weight: 700; text-transform: uppercase; font-size: 14px }
a.view_more_btn i { font-weight: 800 }
.view-all-section { text-align: center;  }
.view-all-section a, .domo-newsletter-sidebar a, .domo-care-usage a { background: #625048 }
.domo-shop-online { background: #fff }
h5.mini_info { color: #5C5050; margin-top: 0; font-size: 15px }
/*footer*/
footer { background: #fff }
.quick-links-bar { background: #77A1A0; border-top: solid 7px #E8E8E8; border-bottom: solid 7px #E8E8E8; padding: 20px 0 }
.quick-links-bar a { color: #fff; text-transform: uppercase; padding: 5px 0; display: inline-block; }
.footerlinks h4 { margin: 0; color: #000; font-size: 15px; text-transform: uppercase; position: relative }
.footerlinks h4:after { content: ''; width: 18px; height: 2px; background: #aaa; display: block; margin: 20px 0 17px }
.footerlinks li>a { color: #686868; text-transform: uppercase; display: inline-block; padding: 3px 0; -webkit-transition: all 0.4s ease; transition: all 0.4s ease }
.footerlinks li>a:hover { color: #000; padding-left: 5px; }
.copyright-section { margin-top: 3em; border-top: solid 1px #C8C8C8; padding-top: 1.5em }
.copyright-section p { color: #999 }
.social-links a { display: inline-block; background: #CFC6C1; color: #63504C; height: 40px; width: 40px; text-align: center; line-height: 39px; font-size: 1.3em; border-radius: 100px; margin-left: 7px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.social-links a:hover { background: #B2ACA7 }
.main-footer .social-links { margin-top: -45px }
.store_location_link figure { max-width: 480px; margin: 0 auto; text-align: center }

.slidebutton { margin: 40px 0 30px; position: relative }
.slidebutton label { width: 100%; height: 10px; display: inline-block; position: relative; border-radius: 14px; background: #fff; border: solid 1px #ccc; line-height: 40px; font-style: normal; color: #fff; font-weight: bold; -webkit-transition: all 1s ease-in; transition: all 1s ease-in; cursor: pointer; }
.slidebutton label.attention:hover { background: rgb(238,159,7) }
.slidebutton label.attention:hover:before { content: "☢"; /* ☢ _NO__DOTCOMMA__AFTER__*/ font-size: 22px; }
.slidebutton input[type=checkbox]:checked ~ label.attention:hover:before { content: ""; font-size: 13px; }
.slidebutton label i { position: absolute; top: -12px; right: 70%; width: 30px; height: 30px; display: block; border-radius: 36px; background: rgba(103,79,72,1.0); -webkit-transition: all 200ms ease; transition: all 200ms ease; border: solid 1px #eee; }
.slidebutton label i:before { content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 16px; height: 16px; margin: -8px 0 0 -8px; border-radius: 18px; background: rgb(239,239,239); }
.slidebutton label:hover i { box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3) }
.slidebutton label:active i:before { box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3) }
.slidebutton label:before { content: "retail newsletter"; text-transform: uppercase; -webkit-transition: all 200ms ease; transition: all 200ms ease; font-size: 13px; position: absolute; top: -55px; text-align: center; width: 50%; color: #333; line-height: 18px; word-spacing: 200px; font-weight: 400 }
.slidebutton label:after { content: "trade newsletter"; right: 0; text-transform: uppercase; font-size: 13px; color: #fff; position: absolute; top: -55px; width: 50%; text-align: center; line-height: 18px; word-spacing: 200px;  font-weight: 400 }
.slidebutton input[type=checkbox]:checked ~ label:before { content: "retail newsletter"; text-transform: uppercase; margin-right: 0; margin-left: 0; text-align: center; width: 50%; color: #fff; }
.slidebutton input[type=checkbox]:checked ~ label:after { content: "trade newsletter"; right: 0; color: #333; }
.slidebutton input[type=checkbox]:checked ~ label { background: #fff/*rgb(141,173,51)*/; }
.slidebutton input[type=checkbox]:checked ~ label i { right: 20% }
/* you can hide later */
.slidebutton input:before { content: "Logic:"; margin-left: -35px; font-size: 10px; color: #333; }
.slidebutton input { position: absolute; bottom: 5px; left: 50%; margin-left: 10px; opacity: .1; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; visibility: hidden; }
.slidebutton input:hover { opacity: 1 }
.pipe_line { width: 1px; background: #fff; position: absolute; top: -55px; left: 50%; -webkit-transform: translate(-50%,0); transform: translate(-50%,0); height: 35px }


/*inner pages css*/
/*.content { margin-top: 170px }*/
.header_titles_breadcrumbs { margin-top: 200px }

/*product single page*/
.additional_header { background: #DEE5E5; padding: 5px 0; border-top: solid 4px #fff }
.additional_header h4 { color: #514741; font-size: 14px; text-transform: uppercase; font-weight: 700 }
.product-additional-info { background: #fff }
.information_download p { max-width: 250px; color: #6D615C; margin-bottom: 0 !important }
.download_buttons>span { display: block; padding: 25px 0 0 }
.download_buttons a { display: inline-block; background: #EBEBEB; border: solid 1px #66554D; border-radius: 100px; line-height: 55px; padding: 0 40px; font-size: 16px; font-weight: 600 }
.shareit_online { padding-top: 25px }
.shareit_online strong, .shareit_online span { display: block }
.shareit_online span { padding-bottom: 20px }
.shareit_online a { height: 38px; width: 38px; display: inline-block; text-align: center; line-height: 31px; font-size: 1.3em; border: solid 3px #D6D6D6; border-radius: 50px; margin-right: 5px }
.shareit_online a.facebook { color: #3E6893 }
.shareit_online a.twitter { color: #00D8FF }
.shareit_online a.instagram { color: #E40B58 }
.shareit_online a.pinterest { color: #FF0000 }
.enquire-product-form fieldset { padding-top: 20px }
.enquire-product-form input[type="text"], .enquire-product-form input[type="email"], .enquire-product-form textarea { background: #fff; border: solid 1px #BFBEBE; border-radius: 100px; width: 100%; min-height: 36px; padding-left: 15px }
.enquire-product-form textarea { height: 110px; border-radius: 20px; padding: 10px 15px }
.related-cat-brand-products h5 { color: #524641; font-size: 14px; text-transform: uppercase; font-weight: 600 }
.enquire_this_product small, .product-additional-info small { color: #79A19F; font-size: 13px; display: block; padding-bottom: 10px }
.enquire_this_product h3 { font-weight: 700; color: #524641; font-size: 20px }
.single .p { color: #484848; }
.brand-name { font-size: 14px; color:#66554e; margin-top: 5px; margin-bottom: 10px; }
.single p.online-purchase-notice { margin-bottom: 10px; color: #66554e; margin-top:15px; }
.single p.price .amount { color: #66554e; font-size: 25px; }
.single .product_meta { color: #565656; border-top: 1px #bebebe dotted; padding-top: 5px; }
.single .product_meta a { color: #79a19f; }
.variation-img { margin-right: 10px; margin-bottom: 10px; }
.woocommerce.single div.product form.cart .button { position: relative; top: -2px; background-color: #79a19f; color:#fff; font-weight: bold; font-size: 16px; padding: 15px; padding-left: 20px; padding-right: 20px; border-radius: 25px; margin-right: 20px; }
.woocommerce.single div.product form.cart div.quantity { margin:0px; float:none; display: inline-block; text-align: center;  }
.woocommerce.single .quantity .qty { padding: 10px; margin-left: -5px; margin-right: -5px; border: 1px solid #000; border-radius: 0px; }
.qty-btn { display: inline-block; margin:0px; border-radius: 0px; padding: 10px; height:auto; border: 1px solid #000; text-align: center; width:50px;}
.brown-outline-btn { border: 1px solid #79a19f; border-radius: 20px; padding: 6px 10px; padding-left:25px; padding-right: 25px; }
.brown-outline-btn:hover { color:#fff; background:#79a19f; }
.brown-outline-btn .fa { font-size: 12px; }
.brown-outline-btn.state-btn { background: transparent; border:1px solid #685750; padding-left: 45px; padding-right: 30px; margin-right: 15px; margin-bottom: 20px; font-weight: 600 }
.brown-outline-btn.state-btn .fa { margin-left: 20px; }
.brown-outline-btn.state-btn:hover { background: #685750; color:#fff; }
.white-brown-outline-btn { background:#fff; border: 1px solid #685750; color:#685750; border-radius: 20px; padding:10px; padding-left:25px; padding-right: 25px; width:250px; height:auto; font-weight:bold; font-size: 13px; white-space: normal; }
.btn .fa { margin-right: 5px; }
div.brandrange { margin-right: 12px }
.brandrange, .brochure-pdf-download { display: inline-block; margin-bottom: 20px; vertical-align: top }
.brochure-pdf-download ul.dropdown-menu { width: 250px; margin: 2px 0 0; padding: 14px 0; -moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; }
.brochure-pdf-download ul.dropdown-menu>li>a { padding: 8px 20px 8px 25px; white-space: normal; position: relative;}
.brochure-pdf-download ul.dropdown-menu>li>a:before { font-family: 'FontAwesome'; content: '\f105'; position: absolute; top: 8px; left: 12px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-filter li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;

}

.product-filter { width: 25%; float:left; padding:10px; }
.product-filter-btn { border-radius: 0px; border:0px; width:100%; text-align: left; padding: 20px; }
.product-filter-btn .caret { float:right; margin-top:10px; }
.product-filter-btn .mobile-caret { float:right; display: none; }
.product-filter-btn .right-chevron { display: none; font-size:12px; margin-left:5px; margin-right: 5px; }
.product-filter.dropdown.open .product-filter-btn .mobile-caret { -webkit-animation: spin180 0.3s linear; -webkit-transform: rotate(180deg); }
.product-filter-btn:focus, .product-filter-btn:active, .product-filter-btn:hover { background:#fff; outline:0!important; }
.product-filter-dropdown { border:0px; box-shadow: none; border-radius: 0px; left:10px; border:1px solid #DBDBDB; border-bottom: 6px solid #b7c7c7; position: relative; left:0px; margin-top:5px; }
.product-filter li>a { padding:15px; padding-left:25px; padding-right: 25px; }
.product-filter-label { margin-bottom: 10px; font-weight: bold; display: none; }
.product-filter-label.desktop { display: block; }
.product-filter-option.selected>a { font-weight: bold; }
.product-filter-col { width:auto; float:left; }
.product-filter-col li { position: relative; display:block; z-index: 9999; }
.product-filter-col li:hover { background: #F2F2F2; }
#product-brand-filter { position: static; }
.product-filter-row { position: relative; }
.product-filter-dropdown { position: absolute; right:10px; left:10px; }
.product-holder { margin-top: 40px; }
.domo-product { min-height: 430px; background:#FFF; padding:20px; border: 1px solid #c9c9c9; text-align: center; margin-bottom: 20px; position: relative }
.domo-product .product-title { display: block; color:#614f49; text-transform: uppercase; margin-bottom: 10px;}
.domo-product .product-brand { display: block; color:#9a8e8b; text-transform: uppercase; font-size: 12px;}
.domo-product .image { margin-bottom: 20px; }
.product-filter { display: none; }
.product-filter-item { -webkit-transition: opacity 0.5s ease; transition: opacity 0.5s ease; display: none; }
.product-filter-btn { overflow: visible; }
.product-filter:after { content:' '; border-bottom: 4px solid #77A1A0!important; color: #77A1A0; width:0%; position: relative; display:block; -webkit-transition: width 0.5s ease; transition: width 0.5s ease; }
.product-filter.selected:after { width: 100%; }
.product-filter.selected .product-filter-btn { color:#77A1A0; }
.product-filter li.filter-option-not-valid>a { color:#dcdcdc; }

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .domo-product { min-height: 400px }
}

@-webkit-keyframes spin180 {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(180deg);}
}

/* store locations */
.store-location-card { background:#FFF; padding:25px; margin-bottom: 25px; }
.store-location-card h2 { font-size: 18px; color: #4b413d; font-weight: bold; margin-bottom: 8px; }
.store-state { font-size: 18px; font-weight: bold; }
.store-location-card .phone-number { font-size: 18px; font-weight: bold; margin-top: 20px; }
.store-location-card .phone-number .icon { position: relative; top:3px; }
.store-location-card .icon { font-size: 21px; color: #79a19f; position: relative; top: 0px; float:left; margin-right: 15px; margin-bottom: 23px; min-width: 23px; text-align: center }
.store-location-card .fa-map-marker { font-size:27px; margin-right: 15px; }
.store-location-card p { margin-bottom: 10px!important; font-size: 13px; }
.store-location-card p.indent { margin-left: 40px; }
.store-location-card small { color: #4b413d; font-size: 13px; font-weight: bold; }
.store-location-card .google-map { min-height: 500px; }
.store-location-card .stockist_map { min-height: 500px; }
.store-location-card .btn { background: #79a19f; border: 1px solid #79a19f; padding:5px; border-radius: 20px; padding-left:30px; padding-right: 30px; color:#FFF; margin-bottom: 10px; min-width:140px;  }
.store-location-card .btn:hover { background:#678987; }
.store-location-card .btn-brown { color: #685750; border: 1px solid #685750; background:transparent;}
.store-location-card .btn-brown:hover { background:#685750; color:#FFF; }
.store-location-card .btn-thin-wide { min-width: 200px; padding-top:5px; padding-bottom: 5px; }
.store-location-card .store-state { font-size: 18px; }
.shop-profile-image { width: 100%; height: 243px; background:#222; margin-bottom: 15px; -moz-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: center center }


/*sign up*/
.sign-up-template h3 { color: #65554D; font-size: 22px; margin-bottom: 30px }
.signup_box, .member_benefits { background: #fff; border: solid 8px #B7C8C7; }
.signup_box>.newsletter_box { background: #fff }
.signup_box .slidebutton { margin-top: 110px }
.signup_box .slidebutton label, .signup_box .slidebutton input[type=checkbox]:checked ~ label { background: #79A19F }
.signup_box .slidebutton label:before, .signup_box .slidebutton input[type=checkbox]:checked ~ label:before { font-size: 18px; font-weight: 700; width: 55%; top: -75px }
.signup_box .slidebutton input[type=checkbox]:checked ~ label:before { color: #999 }
.signup_box .slidebutton label:after { font-size: 18px; font-weight: 700; width: 45%; color: #999; line-height: 24px; top: -75px }
.signup_box .slidebutton input[type=checkbox]:checked ~ label:after,.signup_box .slidebutton label:before { color: #55958D; line-height: 24px}
.signup_box .slidebutton label:hover i { box-shadow: none }
.signup_box .pipe_line { background: #B9A59D; top: -65px }
.signup_box fieldset { padding-top: 10px }
.signup_box input[type="text"], .signup_box input[type="email"], .signup_box input[type="password"] { background: #fff; border: solid 1px #BFBEBE; color: #473D39 }
.signup_box .newsletter-form input[type="text"]::-webkit-input-placeholder, .signup_box .newsletter-form input[type="email"]::-webkit-input-placeholder, .signup_box .newsletter-form input[type="password"]::-webkit-input-placeholder { color: #473D39; }
.signup_box .slidebutton input[type=checkbox]:checked ~ label:before, .signup_box .slidebutton label:before { content: "retail member"; }
.signup_box .slidebutton input[type=checkbox]:checked ~ label:after, .signup_box .slidebutton label:after { content: "contract member"; }
.signup_box .slidebutton label i:before { height: 14px; width: 14px; margin: -7px 0 0 -7px }
.signup_box .slidebutton label i:after { content: ''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 6px solid rgba(103,79,72,1.0); position: absolute; top: -5px; left: 50%; margin-left: -5px }
.signup_box .slidebutton label i { border: none }
.member_benefits { padding: 7px; }
.member_benefits h3 { text-align: center; color: #457976; padding: 20px 0 0; margin: 0; font-weight: bold; font-size: 22px; }
.member_benefits span { font-size: 13px; }
.member-benefits.second { display:none; }
article.benefit_block { padding: 20px 0 0; }
article.benefit_block span, article.benefit_block strong { display: block }
article.benefit_block span i { color: #B6B0AE; font-size: 27px }
article.benefit_block strong, article.benefit_block h4 { color: #65554D; font-size: 17px; font-weight: 700; line-height: 23px }

.check_agreement input[type="checkbox"] { display: none }
.check_agreement label { font-size: 12px; color: #473D39; font-weight: 400; display: inline-block; width: 90%; margin-left: 10px; vertical-align: top; position: relative; padding-left: 30px }
.check_agreement input[type=checkbox] + label:before { font-family: FontAwesome; display: inline-block; }

.check_agreement input[type=checkbox] + label:before { content: "\f096"; position: absolute; left: 0; font-size: 18px; color: #958985; -webkit-transition: all 0.9s ease; transition: all 0.9s ease; } /* unchecked icon */
.check_agreement input[type=checkbox]:checked + label:before { content: "\f046"; color: #77A19F } /* checked icon */

/*breadcrumbs*/
.breadcrumbs, .breadcrumbs span, .breadcrumbs span a { font-size: 13px; color: #7F7F7F; line-height: 40px }
.breadcrumbs i { padding: 0 5px }

/*blog single*/
.sidebar_widget { margin-bottom: 20px; background: #fff; padding: 25px }
.popular_blog h4 { text-transform: uppercase; font-weight: 600; padding-bottom: 10px; }
.sidebar_widget h4 { margin-top: 0 }
.popular_blog li img { float: left; max-width: 120px; margin: 0 15px 0 0 }
.popular_blog li span { display: block; font-weight: 600; font-size: 15px }
.blog-left-column { background: #fff; padding: 25px }
header.pageheader { padding: 20px 0; position: relative }
header.pageheader h1 { font-size: 26px; font-weight: 600; color: #4B413D; padding-right: 90px; padding-top: 15px }
.posted_date_month { background: #79A19F; height: 70px; width: 70px; text-align: center; position: absolute; right: 0; top: 15px; border-radius: 100px; vertical-align: middle }
.posted_date_month span { display: block; color: #fff }
span.current_post_date { display: block; font-size: 25px; font-weight: 700; padding-top: 5px }
span.current_post_month { border-top: solid 1px #fff; display: inline-block }
small.posted-date:before, #comments .comment-meta:before  { content: '//'; display: inline-block; margin-left: 10px; margin-right: 10px }
.related_post_cat span { margin-right: 10px; font-size: 11px; color: #959595; text-transform: uppercase }
.related_post_cat span a { color: #959595; }
.related_post_cat span:before { content: '// '; }
.single p { margin-bottom: 30px }
.comment_blox_circle { background: #79A19F; width: 95px; height: 95px; border-radius: 100px; text-align: center; position: relative; }
.comment_blox_circle:after { content: ''; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 22px solid #79A19F; position: absolute; bottom: -5px; right: 0; /* IE 9 */ -webkit-transform: rotate(-37deg); /* Chrome, Safari, Opera */ transform: rotate(-37deg); }
.comment_blox_circle span { display: block; color: #fff; text-align: center }
span.comment_number { font-size: 25px; font-weight: 700; padding-top: 10px }
span.comment_txt { display: inline-block; border-top: solid 1px #fff; padding-top: 3px; font-size: 12px }
.share_it_online span, .share_it_online strong { display: block; color: #514741 }
.social_icons a { display: inline-block; height: 40px; width: 40px; line-height: 36px; border: solid 2px #D6D6D6; text-align: center; border-radius: 100px; font-size: 18px; margin-right: 4px }
.social_icons a.fb { color: #3E6893 }
.social_icons a.tt { color: #00D8FF }
.social_icons a.el { color: #E40B58 }
.social_icons a.pt { color: #FF0000 }
a.back_button { background: #fff; border: solid 1px #77A19F; display: inline-block; line-height: 34px; color: #65554D; font-size: 13px; padding: 0 35px; border-radius: 100px }
.back-to-news a { margin-top: 25px }
.you_may_like h3 { font-size: 17px; text-transform: uppercase; color: #7F7F7F; font-weight: 700 }
.back_to_news.read_more_btn_outline { margin-top: 0; line-height: 36px; border: solid 1px #7FA7A5; text-transform: inherit; padding: 0 30px; color: #65554D; font-size: 13px }
h4.instagram-feed-txt { background: url('../img/instagram.svg') no-repeat top right; background-size: 33px 33px; padding: 10px 35px 10px 0  }
/*comments section*/
#comments { padding-top: 1.8em; border-top: solid 1px #A1A1A1; margin-top: 1.0em }
h2.comments-title { font-size: 15px; color: #A1A1A1; text-transform: uppercase; font-weight: 600; padding-bottom: 1.8em }
#comments .panel { border: none !important; box-shadow: none; }
#comments .panel-heading { border: none; background: none !important; border-radius: 0; padding: 0 10px }
#comments .panel-body { padding: 0 10px }
#comments h5.media-heading { display: inline-block; font-weight: 700; color: #514741; font-size: 14px; }
#comments h5.media-heading cite { font-style: normal }
#comments .comment-meta { display: inline-block }
#comments footer.comment-reply { display: none }
#respond textarea, #respond input[type="text"], #respond input[type="email"] { background: #fff; border: solid 1px #BFBEBE; padding: 6px 0 6px 15px; border-radius: 100px; width: 100%; max-width: 385px; font-size: 14px }
#respond textarea:focus, #respond input[type="text"]:focus, #respond input[type="email"]:focus, #respond input[type="submit"]:focus { outline: none; }
#respond textarea { border-radius: 20px; height: 135px }
#respond p { margin-bottom: 20px }
h3.comment-reply-title { font-size: 15px; text-transform: uppercase; color: #A1A1A1; font-weight: 600; padding-bottom: 4px }
p.comment-notes, p.logged-in-as, p.logged-in-as a { color: #ABABAB; font-size: 14px }
.other_blog_post>div { margin-bottom: 20px }
.other_blog_post article { background: #fff; padding: 20px }
.other_blog_post article span { display: block; width: 165px; height: 130px; background-position: center center; float: left; margin: 0 15px 0 0; background-size: cover }
.other_blog_post article h4 { margin: 0; font-weight: 600; font-size: 16px; line-height: 21px; min-height: 78px }
a.read_more_btn_outline { border-radius: 100px; display: inline-block; font-size: 14px; font-weight: 600; color: #67574F; text-transform: uppercase; border: solid 1px #604F46; line-height: 28px; padding: 0 40px; margin-top: 20px }
.post-meta small { color: #4b413d }

#comments input::-webkit-input-placeholder { color: #483e3a; }
#comments input:-moz-placeholder { /* Firefox 18- */ color: #483e3a; }
#comments input::-moz-placeholder {  /* Firefox 19+ */ color: #483e3a; }
#comments input:-ms-input-placeholder { color: #483e3a; }
#comments textarea::-webkit-input-placeholder { color: #483e3a; }
#comments textarea:-moz-placeholder { /* Firefox 18- */ color: #483e3a; }
#comments textarea::-moz-placeholder {  /* Firefox 19+ */ color: #483e3a; }
#comments textarea:-ms-input-placeholder { color: #483e3a; }

/*news archive*/
.news-archives article { background: #fff; padding: 18px; margin-bottom: 20px }
.news-archives article figure { float: left; margin: 0 20px 0 0; display: block; width: 450px; height: 350px; background-size: cover; background-position: center center; background-repeat: no-repeat }
.blog-minicontent h4 { font-size: 18px; color: #4B413D; font-weight: 600; line-height: 24px; padding-right: 90px }
.blog-minicontent header { position: relative }
.blog-minicontent .posted_date_month { top: 0 }

/*blog sidebar*/
.post_categories h4, .sidebar_widget h4 { color: #A1A1A1; margin: 0; font-size: 15px; text-transform: uppercase; font-weight: 600; padding-bottom: 12px; border-bottom: solid 1px #A1A1A1 }
.post_categories li { padding: 12px 0 0 17px; position: relative; }
.post_categories li:before { font-family: 'FontAwesome';  content: "\f111"; color: #a2a2a2; position: absolute; left: 0; font-size: 9px; top: 17px }
.post_categories li>a { color: #4B413D; font-size: 12px; text-transform: uppercase }
.instagram_feed h4 { color: #79A19F }
.instagram_feed h4>i { background: #CFC5C1; height: 36px; width: 36px; display: inline-block; border-radius: 100px; line-height: 34px; color: #614F49; text-align: center; font-size: 17px; float: right; margin-top: -10px }
.domo-newsletter-sidebar { background: #79A19F; text-align: center }
.domo-newsletter-sidebar h3, .domo-care-usage h3 { font-size: 22px; font-weight: 600; color: #fff; }
.domo-newsletter-sidebar h3>span, .domo-care-usage h3>span { font-weight: 300 }
.domo-newsletter-sidebar h5 { color: #fff; font-size: 19px; line-height: 25px; padding-bottom: 15px }
.domo-care-usage h3 { color: #614F49; padding-bottom: 8px }
.domo-care-usage p { margin-bottom: 15px }
.domo-care-usage a { display: inline-block; margin: 0 auto; }
/*blog pagination*/
.navigation.pagination h2 { display: none; }
.nav-links span, .nav-links a { display: inline-block; background: #CECACA; color: #fff; line-height: 45px; padding: 0 20px; text-align: center; font-weight: 600; margin-right: 5px }
.nav-links span.current { background: #67574F }

/* brand profile */
.brand-profile-lifestyle-img { width: 100%; height: 700px; background-size: cover; background-position: center center; background-repeat: no-repeat; position: relative; margin-bottom:40px;  }
.brand-profile-bar { width:100%; padding: 30px; background: rgba(36,25,21,0.83); color:#FFF; position: absolute; bottom:0px; font-weight: lighter; font-size: 19px; }
.brand-profile-bar h1 { font-weight: bold; font-size: 26px; margin-top:4px; }
.brand-profile-logo { height: 50px; margin-bottom: 40px; }
.brand-profile-gallery-image { height: 170px; width: 100%; border:6px solid #FFF; background-size: cover; margin-bottom: 20px; }
.btn-white-brown-min-width { background:#FFF; }

.brand-enquire { background: #FFF; padding-top: 20px; padding-bottom: 20px; }
.brand-enquire p {  color: #6D615C; }
.brand-enquire h3 { color: #6D615C; font-weight: bold; font-size: 20px; margin-bottom: 25px; }

/*care and usage*/
.care_usage_sidebar h4 { color: #A1A1A1; font-size: 15px; text-transform: uppercase; line-height: 21px; font-weight: 600 }
ul.other_tips_lists { border-top: solid 1px #A1A1A1; padding-top: 12px }
ul.other_tips_lists li { position: relative; padding: 5px 0 5px 20px; }
ul.other_tips_lists li>a { text-transform: uppercase; color: #4B413D; font-size: 12px; }
ul.other_tips_lists li:before { content: ''; height: 9px; width: 9px; background: #B9A59D; position: absolute; top: 11px; left: 0 }
.domo-extra-advice { border-top: solid 8px #79A19F; margin-top: 2em; padding-top: 2em }
.only_mobile_visible { border-top: solid 8px #B9A59D; padding-top: 20px }
.memberbox { background: #B9A69C; padding: 8px }
.member-content-box { background: #79A09E; border: solid 6px #fff; padding: 30px }
.member-content-box span { display: block; text-align: center }
span.become-a-member { font-size: 18px; text-transform: uppercase; color: #fff; font-weight: 600 }
span.clickto-findmore { font-size: 14px; text-transform: uppercase; color: #fff; padding: 20px 0 }
.member-content-box span>a { background: #614F49; padding: 0 32px }
header.pagetitle_header { color: #4B413D; font-size: 18px; text-transform: uppercase; padding-bottom: 10px; font-weight: 600 }
.extra_advise_content a.view_more_btn { background: #79A19F; margin-top: 20px }

/*about domo*/
.inner-full-width { background: #fff; padding: 25px }
.domo_brand_img { padding-top: 3em; margin: 0 auto; max-width: 550px }
.domo_brand_img figure, .warranty_images figure { background: #D1C4C0; padding: 9px; display: inline-block; border-radius: 500px; }
.domo_brand_img figure img, .warranty_images img { background: #FFF; padding: 10px; border-radius: 500px; }
header.small_brown_txt { color: #BFABA5; font-size: 15px; text-transform: uppercase; font-weight: 600 }
.domos_collection h2, .founder-quote header { color: #483630; font-size: 40px; font-weight: 300; padding: 15px 0 30px }
.about_two_blocks { border-top: solid 8px #79A19F; border-bottom: solid 8px #79A19F; padding: 30px 0; margin: 2em 0 }
.about_two_blocks h3, .founder-detail h4, .career_content h2, .warranty-info article h2 { font-size: 20px; font-weight: 600; color: #483630; text-transform: uppercase; padding-bottom: 15px; line-height: 30px }
.founder_img { padding-top: 10px }
.founder-quote header { color: #79A19F }
.about-domo-page p, .career_content p { margin-bottom: 25px }

/*careers*/
.career_content p strong { font-size: 16px }
.career_content p span>strong { color: #79A19F }
.quick_career_form { border: solid 8px #B7C8C7; padding: 25px }
.quick_career_form header { color: #79A19F; font-size: 20px; text-transform: uppercase; font-weight: 600; padding-bottom: 20px }
.quick_career_form fieldset { margin-bottom: 15px }
.quick_career_form input[type="text"], .quick_career_form input[type="email"], .quick_career_form textarea { background: #fff; border: solid 1px #BFBEBE; color: #483e3a; }
.quick_career_form textarea { height: 135px; border-radius: 25px; padding: 15px  }
.quick_career_form select { width: 100%; height: 35px; background-color: transparent; border: none; color: #999  }
.quick_career_form select:focus { outline: none }
fieldset.select_rounded>div>span { border: solid 1px #bfbebe; border-radius: 100px; padding-left: 5px; display: block; }
span.followus, .positions-available h3 { display: block; color: #79A19F; font-size: 20px; font-weight: 700; padding-bottom: 10px; padding-top: 15px }
span.followus { font-size: 16px; font-weight: bold; }
.positions-available { border-top: solid 8px #79A19F; padding-top: 1.2em; margin-top: 3em }
.positions-available h3 { font-weight: 600 }
div.wpcf7-validation-errors { background: #c00; padding: 15px !important; color: #fff; border: none !important }
.wpcf7-mail-sent-ok { background: #398f14; padding: 15px; color: #fff }
.vacancy-lists article { background: #E7EFEF; padding: 20px; margin: 20px 0 0 }
.jd h4 { color: #41332F; font-size: 20px; font-weight: 700; margin: 0 }
.jd p { margin-bottom: 15px }
.jd p strong { display: block }
.apply_now_box { position: relative; min-height: 280px; background: #79A19F; text-align: center;}
.applycontent { position: absolute; top: 50%; left: 0; width: 100%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); padding: 0 20px }
.applycontent header { font-size: 18px; color: #fff; font-weight: 600; text-transform: uppercase; line-height: 28px; margin-bottom: 20px }
.applycontent a { background: #fff; color: #67574F }

/*DOMO warranty*/
.warranty-info article { padding-bottom: 2em }
.warranty-info article h2 { padding-bottom: 5px }
.warranty_images { text-align: center }
.warranty_images figure { padding: 5px; margin: 0 auto 2em; max-width: 330px }
.warranty_images img { padding: 7px }
/*terms*/
article#post-8641 p, article#post-8646 p { margin-bottom: 25px }
article#post-8641 h2, article#post-8646 h2 { font-size: 18px; font-weight: 600; margin-bottom: 10px; color: #483630 }
article#post-8641 a.view_more_btn, article#post-8646 a.view_more_btn, .contact_widget a.view_more_btn  { background: #79A19F; margin-top: 15px }
/*contact page*/
.contact_widget { padding-bottom: 4.5em }
.contact_widget h2 { color: #4B413D; font-size: 16px; text-transform: uppercase; font-weight: 600; padding-bottom: 8px }
.contact_widget a.view_more_btn { line-height: 34px; font-weight: 600; margin-top: 10px }
.contact_widget span.contact-number { display: block; padding-bottom: 10px }
span.contact-number a { font-weight: 700; font-size: 18px; color: #4B413D }
span.contact-number a>i { color: #79A19F }
.contact_widget header { font-weight: bold; font-size: 16px; color: #79A19F }
.contact_general_form header { padding-bottom: 5px }
.contact_general_form { padding: 25px 30px }
.contact_general_form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #483e3a; }
.membership_blox_contact { background: #79A09E; padding: 10px; margin-top: 20px }
.membership_blox_contact>div { display: inline-block; vertical-align: top }
.membership_blox_contact .member-content-box { padding: 10px 15px; background: none; border: none; }
.membership_infoblox { width: 59% }
.membership_infoblox_image { width: 40%; text-align: right }

/*Resources*/
.featured-membership { border-top: solid 8px #79A19F; padding: 8px 20px }
.featured-membership header { font-size: 14px; font-weight: 600; color: #fff; text-transform: uppercase; }
.gold_members { background: #C5A76D; }
.silver_members { background: #929292; }
.bronze_members { background: #cc9f65; }
.info_and_logout a { float: right }
.downloads-resources-section article { padding: 25px 0; border-bottom: solid 1px #B9A59E; }
.downloads-resources-section figure { display: block; float: left; width: 195px; height: 195px; border: solid 1px #6C5A54; margin: 0 30px 0 0; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.downloads-resources-section article h2 { font-size: 15px; text-transform: uppercase; color: #65534D; font-weight: 600; padding-bottom: 15px }
.downloads-resources-section article p { margin-bottom: 35px }
.resource_download_section a.view_more_btn { background: none; border: solid 1px #6C5A54; color: #6C5A54; line-height: 36px; font-size: 14px }
.info_and_logout a { border: solid 1px #79A19F !important; color: #79A19F !important }
header.boldtxt { font-weight: 600; font-size: 16px; padding-bottom: 5px }

/* Login pages */
.woocommerce-login h2 { color: #65554D; font-size: 25px; padding-bottom: 5px !important; text-transform: uppercase; }

/* My account */
.woocommerce-MyAccount-content { padding:15px; background: #FFF; }
.woocommerce-MyAccount-navigation { padding-left: 20px; }
.woocommerce-MyAccount-navigation-link { padding: 15px; list-style-type: disc; }
.woocommerce-MyAccount-navigation-link.is-active { font-weight: bold; }

/* 404 page */
.page404 img { width:50%; min-width:300px; margin-top:30px; margin-bottom: 30px; }
.page404 h1, .page404 h2 { color:#ee6664; margin-top:30px; font-weight: bold; margin-bottom: 30px; }
.page404 h1 { font-size: 120px; }
.page404 h2 { font-size: 21px; }
.page404 a.btn, .thank_you_page a.btn { border: 1px solid #bfbebe; border-radius: 20px; color:#79a19f; font-weight: bold; font-size: 15px; padding:8px; padding-left:20px; padding-right: 20px; margin-top: 20px; margin-bottom: 20px; }
.page404 a.btn:hover, .thank_you_page a.btn:hover { border-color: #79a19f; color:#FFF; background:#79a19f; }

/*promotion*/
.enter-promotion a.view_more_btn { background: #4F8280; line-height: 32px; margin-bottom: 2em }
.domo-promotion-banner { width: 100%; min-height: 450px; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; margin-bottom: 25px }
.domo-promotion-banner h1 { display: inline-block; background: rgba(0,0,0,0.6); color: #fff; position: absolute; top: 50%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); padding: 25px 35px; font-size: 44px; font-weight: 300 }
.domo-promotion-banner h1>strong { display: block }
.full_content_promotion p>a { color: #4F8280 }
/*thank you page*/
.thank_you_page { text-align: center; margin: 5em auto; max-width: 450px }
.thank_you_page strong { color: #79A19F; font-size: 22px; display: inline-block; margin-bottom: 15px }
.thank_you_page p { font-size: 15px; color: #65534D }
.thank_you_page a.btn { display: inline-block; margin-top: 3em }
/*Product Tags*/
.product-tags { position: absolute; right: 0; top: 25px; width: 110px; text-align: right; z-index: 5 }
.product-tags span { color: #fff; font-size: 12px; text-transform: uppercase; display: block; padding: 5px 0; border-radius: 50px 0 0 50px; background: #C9331D; font-weight: 600; margin-bottom: 5px; text-align: center }
.product-tags span.promotion { background: #657D29; }
.product-tags span.clearance { background: #CA7B03; }
.product-tags span.click-and-collect { background: #00698C; }
.promotion-colour a { color: #657D29; font-weight: bold; }
.clearance-colour a { color: #CA7B03; font-weight: bold; }
.click-collect-colour a { color: #00698C; font-weight: bold; }
.sale-colour a { color: #C9331D; font-weight: bold; }
.latest-arrivals-menu-item a { font-weight: bold; }

.menu-image-holder { width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center center; height: 150px; }

/*WISHLIST*/
h3.wishlist-titlehead, #yith-wcwl-form>h2, .wishlist-title-with-form h2, .wishlist-title  h2 { font-size: 16px; text-transform: uppercase; padding-bottom: 20px; font-weight: 600; color: #614F49 }
.widget_yith-wcwl-lists h3.widget-title { display: none }
.widget_yith-wcwl-lists ul.dropdown li a { padding: 12px 15px !important; color: #4b4b4b }
.widget_yith-wcwl-lists ul.dropdown li.current a { background: #E1E1E1; }
.widget_yith-wcwl-lists ul.dropdown > li.lists-section { margin-bottom: 20px }
#yith-wcwl-form>h2, .wishlist-title-with-form h2, .wishlist-title h2 { margin-bottom: 20px  }
.woocommerce .wishlist-title a.show-title-form { vertical-align: top !important }
.woocommerce table.wishlist_table thead th { padding: 10px 12px !important; background: #E1E1E1; border-bottom: none !important }
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt { background: #77A1A0 !important }
th.product-price, th.product-stock-stauts { text-align: center }
.product-add-to-cart a { border-radius: 0 !important; }
td.extra_info { background: #E4ECEB; padding: 20px !important; border-top: solid 20px #fff !important; }
td.extra_info > div { display: inline-block; vertical-align: top; text-align: center; width: 24.5% }
h4.yith-wcwl-share-title, .share-privately h4, .ask-an-estimate-button-container h4, .pdf-wishlist h4 { font-size: 13px; text-transform: uppercase; color: #514741; font-weight: 600 }
.wishlist_table td { font-size: 13px }
.wishlist_table td.product-remove a { margin-left: 10px }

.yith-wcwl-share li a { height: auto !important; width: auto !important; }
.yith-wcwl-share a>i { display: inline-block; height: 40px; width: 40px; line-height: 34px; border: solid 3px #D6D6D6; background: #fff; text-align: center; font-size: 16px; border-radius: 100px }
ul.wishlist_share a.fb { color: #3E6893 }
ul.wishlist_share a.tt { color: #00D8FF }
ul.wishlist_share a.pt { color: #FF0000 }
ul.wishlist_share a.em { display: none }

.share-privately a, .ask-an-estimate-button-container a, .pdf-wishlist a { background: #5F4F47; font-size: 13px; line-height: 32px; margin: 5px 0 0; padding: 0 32px }
.newsletter-form input[type="submit"] { background: #79a19f; }

/*brand single*/
.become-domo-member { padding: 20px; border: solid 10px #B7C8C7 }
.become-domo-member header { font-weight: 600; color: #79A19F; font-size: 20px; text-transform: uppercase; padding-bottom: 5px }
.become-domo-member small { display: block; margin-bottom: 25px }
ul.member-rewards li { color: #65554D; font-size: 15px; text-transform: uppercase; font-weight: 600; position: relative; padding-left: 28px; margin-bottom: 25px }
ul.member-rewards li>span { font-size: 13px; font-weight: normal; display: block }
ul.member-rewards li:before { font-family: 'FontAwesome';  content: "\f005"; color: #79A19F; position: absolute; left: 0; top: 0 }
ul.member-rewards li.tag:before { content: "\f02b" }
ul.member-rewards li.comment:before { content: "\f075" }
ul.member-rewards li.txt:before { content: "\f15c" }
ul.member-rewards li.ticket:before { content: "\f145" }
.signupimage { margin: 0 auto; max-width: 252px }
.signup-bg { width: 100%; height: 210px; background-repeat: no-repeat; background-position: center center; background-size: cover; }
a.signupnow { display: block; line-height: 56px; text-align: center; color: #fff; text-transform: uppercase; background: #79A09E; font-weight: 600 }


/* Search results page */
.search-results-title .fa { margin-left: 10px; font-size: 24px; position: relative; top: 2px;}
.search-results-title .fa:hover { cursor:pointer; }

/*misc*/
span.onsale { display: none; }

/* Latest arrivals page */
.large-page-lifestyle-image { background-size:cover; background-repeat: none; background-position: center; padding-top:300px; padding-bottom: 300px; min-height: 776px }
.latest-arrivals-banner-text { padding:25px; background:rgba(0,0,0,0.8); color:#FFF; display:inline-block; }
.latest-arrivals-banner-text h2 { font-size: 44px; margin-bottom: 10px; margin-top: 10px;}
.latest-arrivals-banner-text h2.light { font-weight: lighter; }
.latest-arrivals-banner-text h2.bold { font-weight: bold; }


/*css added on 3rd october*/
.boldtxt { font-weight: 600; }
li.brown_color a { color: #BB6D53 }
li.view_more_btn a { background: #A78F87; color: #fff !important; font-weight: 600; display: inline-block; line-height: 36px; padding: 0 35px !important; border-radius: 100px; margin-top: 10px }
.single-product a.add_to_wishlist { font-weight: 600; }
.single-product a.add_to_wishlist:before { font-family: 'FontAwesome';  content: "\f004"; color: #79A19F; display: inline-block; margin-right: 6px }
span.feedback { color: #4FA165; display: inline-block; margin-right: 6px }
.product .images>a>img { border: solid 1px #ccc; }
.single-img { position: relative; }
.zoom_image { position: absolute; right: 30px; bottom:20px; }
.zoom_image i { font-size: 19px; color: #999 }

.related-products-showcase>div>h2 { display: none; }
.related-products-showcase .product-filter-item { display: inline-block; width: 44% !important }
.related-products-showcase .domo-product { min-height: 100px !important; padding: 7px !important }
.related-products-showcase .domo-product span { display: none !important }

.instagram-feed-list { margin-left: -5px; margin-right: -5px }
#sbi_images { padding: 0 !important; margin-top: 15px }
#sb_instagram.sbi_col_2 #sbi_images .sbi_item { padding: 5px !important }
#sb_instagram .sbi_follow_btn { display: block !important; padding-left: 5px !important; padding-right: 5px !important }
.sbi_follow_btn a { display: block !important; border-radius: 0 !important; padding: 12px 15px !important; font-weight: 600 !important; font-size: 16px !important; margin-top: 15px !important }
#sb_instagram #sbi_load .sbi_follow_btn { margin-left: 0 !important }

.checkout_info_btn button.close { position: absolute; right: -30px; top: -15px; display: inline-block; height: 25px; width: 25px; border: solid 2px #eee; color: #fff; border-radius: 100px; opacity: 0.85 }
.checkout_info_btn .modal-body { padding: 30px }
.checkout_info_btn .modal-body header { font-weight: 700; font-size: 23px; text-transform: uppercase; color: #79A19F; padding: 25px 0 10px }
.checkout_info_btn .modal-body p { font-size: 19px; padding-bottom: 35px }
.proceed_cancel span { display: inline-block; margin-right: 8px; vertical-align: top; margin-bottom: 15px }
.proceed_cancel span a.button { display: inline-block; padding: 15px 2em !important; background: #c00; color: #fff; border-radius: 0 !important; opacity: 1 }
.proceed_cancel span a.button:hover { background: #c00; color: #eee }
.proceed_cancel span>input[type="submit"] { opacity: 1; background: #79A19F !important; padding: 15px 2em !important }
.yith-wcwl-wishlist-select-container h3 { margin-bottom: 20px; }

/* post tags */
.post_tags.sidebar_widget { margin-bottom: 10px; }
.post_tags.sidebar_widget a {
  margin-top: 10px;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  margin-right: 10px;
  background: #79A19F;
  color: #FFF;
  border-radius: 15px;
}

.quick-connect-results b { color:#625048; font-size: 14px; }
.quick-connect-results .phone-number { font-size: 14px; display:block; margin-top:5px;}
.quick-connect-results .phone-number:hover { color:#77A1A0; }
.quick-connect-results .phone-number .fa { color:#77A1A0; margin-right:6px; }
.quick-connect-results .view-store-btn { background:#77a1a0; padding-top:8px; padding-bottom:8px; padding-left: 20px; padding-right: 20px; color:#FFF; font-size: 13px; font-weight:bold; width:100%; border-radius:15px; display:block; text-align: center; margin-top:8px; }

/*HomePage Newsletter Section New Design*/
.newsletter_tab { background: #4F837F; border-top: solid 3px #77A19F; }
.newsletter_tab .nav-tabs li { width: 50%; }
.newsletter_tab .nav-tabs li>a { margin: 0; border-radius: 0; text-align: center; border: none !important; text-transform: uppercase; font-size: 20px; font-weight: 700; background: #77A19F; color: #BBD0CF; position: relative }
.newsletter_tab .nav-tabs li>a:hover { background: #518F8B }
.newsletter_tab .nav-tabs li>a span { display: block; font-size: 13px; font-weight: 400 }
.newsletter_tab .nav-tabs li.active>a, .newsletter_tab .nav-tabs li.active>a:hover, .newsletter_tab .nav-tabs li.active>a:focus { background-color: #4F837F !important; color: #fff; font-size: 20px; }
.newsletter_tab .tab-content { padding: 15px }
.newsletter_tab_content ul { padding-left: 25px }
.newsletter_tab_content li { font-size: 16px; text-transform: uppercase; color: #fff; font-weight: 700; position: relative; padding: 15px 15px 15px 33px }
.newsletter_tab_content li span { display: block; font-weight: 500; font-size: 14px }
.newsletter_tab_content li:before { font-size: 18px; color: #BBEEEC; font-family: 'FontAwesome';  content: "\f005"; position: absolute; left: 0; top: 15px; }
.newsletter_tab_content li.star:before { content: "\f005"; }
.newsletter_tab_content li.tag:before { content: "\f02b"; }
.newsletter_tab_content li.comment:before { content: "\f075"; }
.newsletter_tab_content li.ticket:before { content: "\f145"; }
small.minitriangle { display: inline-block; position: absolute; bottom: 12px; right: 12px }
.minitriangle.triangle-bottomright { border-bottom: 13px solid #fff; border-left: 13px solid transparent; opacity: 0.5 }
li.active .minitriangle.triangle-bottomright { opacity: 1 }


.signup_button a { font-size: 20px; text-transform: uppercase; color: #fff; text-align: center; display: block; padding: 15px; font-weight: 700; background: #645A58; border-top: solid 4px #77A19F; }
.signup_button { position: absolute; width: 100%; bottom: 0 }

.woocommerce .thumbnails .owl-nav .owl-prev { left: -35px!important; }
.woocommerce .thumbnails .owl-nav .owl-next { right: -35px!important; }
.owl-carousel .owl-stage { padding-left:0px!important; padding-right: 0px!important; }

label.fake-checkbox { width: 10px; height: 30px; position: absolute; z-index: 999; }

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
  width: 100%!important;
  margin-right: 0%!important;
}

span.rounded-select-holder { display: block; max-height: 36px }
.rounded-select-holder select.form-control { padding-left: 5px; padding-right: 5px }
.rounded-select-holder select { border:0px; box-shadow: none; }
.rounded-select-holder select:focus { outline:none!important; box-shadow: none;}
.rounded-select-holder { border: 1px solid #bfbebe; border-radius: 25px; padding-left:10px; padding-right: 10px;}

.no-products-found { padding:20px; font-size: 16px; text-align: center; margin-top:50px; }
.no-products-found p { margin-top: 15px; margin-bottom: 15px; }
.no-products-found a.button { padding-top: 8px; padding-bottom: 8px; padding-left:20px; padding-right: 20px; border: 1px solid #625048; border-radius: 25px; font-size:14px;}
.no-products-found a.button:hover { background:#625048; color:#FFF; }

.warranty-info article h2 { font-size:16px; }
#resume.wpcf7-form-control.wpcf7-file { display:none; }
.fakefilepicker {
  display: inline-block;
  background: #79A19F;
  line-height: 37px;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 35px;
  cursor:pointer;
}

.fakefilepicker:hover { background:#5b8280; }
.fakefilepicker .fa { margin-right: 10px; }
.full_content_tips_care li { list-style: disc; margin-left:15px; }
.full_content_tips_care p { margin-bottom: 15px; }

/*news extra gallery css*/
.extra_gallery_slider { margin: 3em 0 }
.extra_gallery_slider figure { background-position: center center; background-repeat: no-repeat; background-size: cover; height: 200px; width: 100% }

.benefit_block .col-xs-2 {
  margin-left:4%;
}

.store-location-card .icon.fa.fa-star { margin-bottom: 50px; }
h2.domobrand-title { font-weight: 700; }

.contact-page-contact-form .col-sm-6 {
  margin-top:10px;
}

.store-skill-holder { padding-left:40px; }
.store-skill-holder::before { content: '\f005'; font-family: "FontAwesome"; font-size: 21px; color: #79a19f; display:block; position: absolute; top:0px; left:15px; }
select.quick-connect-selector { -webkit-appearance:none; }
.rounded-select-holder { position: relative; }
.rounded-select-holder::after { content: '\f0d7'; font-family: "FontAwesome"; position: absolute; right: 14px; top:7px; }
.single-product-full-image-holder { position: relative; }
.newsletter-tab .nav-tabs small { font-size: 11px; }
.hidden-menu-item { visibility: hidden; cursor: auto; }

.domo-store-lists { padding-bottom: 10px }
.domo-store-lists li { display: inline-block; padding-top: 10px }
.domo-store-lists li>a { display: inline-block; padding: 5px 15px; background: #79A19F; border-radius: 50px; margin-right: 5px; color: #fff }
.single p.price>ins { color: #e74c3c; }
.single p.price>ins>span.amount { color: #e74c3c; }
.wpcf7-form fieldset>br { display: none }

/*join domo add select box*/
.join_domo_store select { display: block; height: 35px; width: 100%; background: none; border: none; }

/*domo archived products*/
.status-archive .domo-offers { display: none }
h1.product_title>span { font-weight: bold; display: block; padding-bottom: 5px; color: red; font-size: 17px }

li.bold_red a { color: #C9331D !important; font-weight: bold !important }

@media(min-width: 991px) {
  .offers-menu .menu-col { width:100%; min-height: auto; }
  .offers-menu .menu-col>li { width:22%; display: inline-block; text-align: center; padding-top: 10px; padding-bottom: 10px; }
  /*.offers-menu .menu-col>li:first-child { margin-left: 17%; }*/
  .offers-menu .menu-col>li a { font-weight: normal; color:#FFF; display:inline; padding:6px; padding-left:15px; padding-right: 15px; border-radius: 30px; }
  .offers-menu .promotion-colour a { background: #657D29; }
  .offers-menu .clearance-colour a { background: #CA7B03; }
  .offers-menu .click-collect-colour a { background: #00698C; }
  .offers-menu .sale-colour a { background: #C9331D; }
}


@media(max-width: 990px) {
  .promotion-colour a { color: #657D29!important; }
  .clearance-colour a { color: #CA7B03!important; }
  .click-collect-colour a { color:#00698C!important; }
  .sale-colour a { color: #C9331D !important }
  .hidden-menu-item { display: none; }
}

@media(max-width: 480px) {
  .quick-links-bar .container .row>div { float: none; width: 100% }
  .quick-links-bar a { max-width: 400px !important }
  /*banner*/
  .banner-info h1, .banner-info h2 { font-size: 1.6em !important; }
  /*footer*/
  .footerlinks .row ul>div { margin-bottom: 0 }
  .footerlinks ul>div {  }
  .footerlinks h4 { padding: 15px 0; border-bottom: solid 1px #ccc; display: block; cursor: pointer }
  .footerlinks h4:after { content: ''; width: auto; height:auto; background: none; display: block; margin: 0 }
  .footerlinks h4:before { font-family: 'FontAwesome';  content: "\f107"; color: #303030; position: absolute; right: 10px; top: 15px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
  .footerlinks h4.showmenu:before { -webkit-transform: rotate(180deg) !important; transform: rotate(180deg) !important; }
  .footerlinks li>a { display: block; padding: 13px 5px; border-bottom: solid 1px #ddd; font-size: 13px }
  .social-links { padding-top: 20px; text-align: center !important }
  /*single blog page*/
  header.pageheader h1 { font-size: 16px !important; line-height: 22px !important }
  a.back_button { padding: 0 12px }
  .other_blog_post article span { max-width: 115px; height: 91px }
  .other_blog_post article h4 { min-height: 0 }
  .news-archives article figure { height: 300px }
  /*about page*/
  .domos_collection h2, .founder-quote header { font-size: 25px }
  /*contact*/
  .membership_blox_contact>div { width: 100%; text-align: center }
  .membership_infoblox_image { margin: 20px 0 }
  /*resources*/
  .downloads-resources-section figure { float: none; margin: 0 auto 30px; max-width: 450px }

  /* footer */
  .footer-dropdown-list ul { display:none; }

  .main-footer .social-links { margin-top: 15px; }
  h2.domobrand-title { font-size: 27px }

}

@media(min-width: 481px) and (max-width: 767px) {
  .footerlinks .row ul>div { display: inline-block; vertical-align: top; width: 49%; float: none; }
  .quick-links-bar i { display: block; text-align: center; margin-bottom: 10px }
  .quick-links-bar a { text-align: center; margin: 0 auto; max-width: 110px }
  /*about page*/
  .domos_collection h2, .founder-quote header { font-size: 32px }
  .brand-profile-gallery-image-holder { width: 50%; float:left; }
}

@media( max-width: 990px) {
  .half_width_half, .brandprofile_full.full_width_img { min-height: 320px }
  .half_width_full { min-height: 450px }
  .banner-items { min-height: 385px; }
  .banner-info { min-height: 230px; }
}

@media (max-width: 767px) {
  /*reset*/
  .mmb-3em { margin-bottom: 3em }
  .mmb-2em { margin-bottom: 2em }
  /*banner*/
  .banner-info h1, .banner-info h2 { font-size: 2.1em }
  .online-product-slider .owl-prev:before { background: #E7E7E7; padding: 15px 30px 15px 37px; border-radius: 0 35px 35px 0 }
  .online-product-slider .owl-prev { left: 0 }
  .online-product-slider .owl-next { right: -50px }
  .online-product-slider .owl-next:before { background: #E7E7E7; padding: 15px 20px 15px 30px; border-radius: 35px 0 0 35px }
  .social-links { margin-top: 0; text-align: left; }
  .newsletter_box { padding-bottom: 15px }
  .newsletter-form fieldset.row>div.firstname { margin-bottom: 20px; }
  .featured_products_show, .brand-profile, .news_list_block, .whitecontentbox, .domo-newsletter { margin: 0 auto; max-width: 585px }
  .news_list_block { margin-bottom: 2em }
  .whitecontentbox, .domo-newsletter { margin-top: 30px; margin-bottom: 30px }
  .main-header .container>.navbar-header, .main-header .container-fluid>.navbar-header, .main-header .container>.navbar-collapse, .main-header .container-fluid>.navbar-collapse { margin-left: 0; margin-right: 0 }
  /*single blog page*/
  header.pageheader h1 { font-size: 19px; line-height: 24px; padding-right: 70px }
  .posted_date_month { height: 60px; width: 60px; }
  .comment_blox_circle { height: 80px; width: 80px }
  span.current_post_date, span.comment_number { font-size: 20px }
  span.comment_txt { font-size: 10px }
  #respond textarea, #respond input[type="text"], #respond input[type="email"] { font-size: 16px }
  .other_blog_post>div:last-child, .other_blog_post>div:nth-last-child(2) { display: none; }
  .brand-profile-lifestyle-img { height: 400px; }
  .brand-profile-gallery-image { height: 300px; }
  /*resources*/
  .info_and_logout a { float: none; }
  .info_and_logout span { display: block; margin-top: 15px }
  .downloads-resources-section figure { height: 145px; width: 145px }
  /*promotions page*/
  .domo-promotion-banner h1 { font-size: 34px }
  /*wishlist*/
  td.extra_info > div { width: 100% !important; margin-bottom: 15px !important }
  .become-domo-member { margin-top: 2em }
  .newsletter_box_content .row>div { text-align: center !important }
  .checkout_info_btn div.modal { padding-left: 15px }
  .checkout_info_btn button.close { right: 15px; top: 15px; border: solid 2px #c00; color: #c00; z-index: 11 }
  .second-info, .third-info { margin-top:30px; }
  .main-footer .social-links { margin-top: 0px; }
  .brand-profile-lifestyle-img { height: 350px; }

  .banner-items { background-position: left top !important }
}


@media (max-width: 991px) {
  .domo-newsletter .fa { margin-bottom: 20px; }
  .container { width: 100%; padding-left: 20px; padding-right: 20px; }
  .header_titles_breadcrumbs { margin-top: 90px }
  .banner { margin-top: 75px }
  .banner-info p>span { display: block; width: 100% }
  .banner-info p>span>a { float: none; margin: 18px 0 0; position: static; }
  .navbar-toggle .icon-bar { background: #614F49; }
  .nav-mobile-header { width: 100%; }
  .logo_for_mobile { margin: 0 auto; max-width: 200px; text-align: center; min-height: 70px; line-height: 70px }
  .search-icon-mobile { float: right; display: inline-block; border-left: solid 1px #ddd; font-size: 1.4em; min-height: 70px; line-height: 70px; padding-left: 25px; min-width: 50px }
  .main-header .navbar-toggle { padding: 0; margin: 0 0 0 10px !important; border-right: solid 1px #ddd; padding-right: 15px; min-height: 70px; border-radius: 0; min-width: 50px  }
  .navbar-toggle .icon-bar { height: 3px }
  .navbar-toggle .icon-bar+.icon-bar { margin-top: 3px }
  body.out nav .navbar-toggle { background: none; }
  .main-header .navbar-nav>li { width: 100% }
  .main-header .nav>li>a { padding: 15px 20px; background: #f1f1f1; margin-bottom: 5px }
  .main-header .nav>li.greycolor>a { background: #ccc }
  .main-header .nav li i { float: right }

  .menu-col li>a { padding: 10px 20px !important }
  .menu-col figure { padding: 20px }
  .last_col { display: none !important }
  /*product single*/
  .download_buttons a { line-height: 45px; padding: 0 25px; font-size: 14px; font-weight: 600 }
  .menu-item-object-menu_image { display: none; }
  /*single blog page*/
  .comment_blox_circle { float: right }
  .share_it_online { padding-top: 30px }
  .news-archives article figure { float: none; width: 100%; margin-bottom: 20px }
  .breadcrumbs { display: none }
  .product-filter-col { width: 100%!important; }
  .product-filter { width: 100%; }
  .product-filter-dropdown { position: static; left:0px; top: 0px; width: 100%; border: 0px; margin-top: 0px; padding-top:0px; padding-bottom: 0px; min-width:0px!important; }
  .product-filter li>a { padding-left: 20px; padding-right: 20px; border-top: 1px solid #F4F4F4; }
  .product-filter-label { display: inline-block; margin-bottom: 0px; }
  .product-filter-label.desktop { display: none; }
  .product-filter-btn .caret { display: none; }
  .product-filter-btn .mobile-caret { display: block; }
  .product-filter.dropdown.selected .product-filter-btn .right-chevron { display: inline-block; }
  .product-filter-current-value { display: none; }
  .product-filter.dropdown.selected .product-filter-current-value { display: inline-block; }
  .store-location-card .google-map, .store-location-card .stockist_map { min-height: 350px; }
  /*footer*/
  .site_by { padding: 1em 0 }
  /*inputs*/
  .mobile_search input[type="search"] { font-size: 16px }

  .large-page-lifestyle-image { padding-top:140px; padding-bottom: 140px; }

  li.view_more_btn a { margin-bottom: 15px }
}

@media (min-width: 768px) and (max-width: 991px) {
  .enquire_this_product { padding-right: 25px }
  /*single blog page*/
  header.pageheader h1 { font-size: 19px; line-height: 24px;  }
  .domo-care-usage a.view_more_btn { padding: 0 22px; font-size: 13px }
  /*promotion*/
  .domo-promotion-banner { height: 625px; }

  .newsletter_brandimage, .newsletter_box { min-height: 619px !important }


}

@media (min-width: 768px) {
  .pr-0 { padding-right: 0; }
  .pl-0 { padding-left: 0 }
  .newsletter-form fieldset.row>div.firstname { padding-right: 5px; }
  .newsletter-form fieldset.row>div.lastname { padding-left: 5px; }
  /*product single*/
  .information_download, .enquire_this_product { border-right: solid 1px #D6D6D6; min-height: 565px }
  .signup_box, .member_benefits { min-height: 760px }
  .domologin-for-resources { max-width: 400px; margin: 0 auto; }
}

@media (min-width: 992px) {
  .container { min-width: 100% }
  .main-header .nav>li:first-child>a { padding-left: 0 }
  .navbar-collapse { padding-left: 0; padding-right: 0; }
  .main-header .nav>li>a:hover, .main-header .nav>li>a:focus { background: none }
  .banner-info p>span>a { margin-right: 0 }

  .main-header .nav>li { position: initial }
  .custom_nav .dropdown-menu { width: 100%; background: rgba(247,247,247,0.99); box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset; }
  .menu-col { display: inline-block; padding: 0 15px 0 20px; width: 19.70%; vertical-align: top; clear: both; border-right: solid 1px #A78F87; min-height: 185px }
  .menu-col:last-child { border-right: none }
  .menu-col.first_col { padding-left: 0; }
  .menu-col.last_col { padding-right: 0 }
  .main-header .nav>li>a { position: relative }
  .main-header .nav>li.current-menu-parent:first-child>a:after { left:0px; }
  .main-header .nav>li.current-menu-parent>a:after, .main-header .nav>li>a:after { content: ''; height: 1px; width: 0; background: #65534D; position: absolute; bottom: 15px; left: 35px; -webkit-transition: width 0.8s ease-in-out; transition: width 0.8s ease-in-out; }
  .main-header .nav>li.current-menu-item.menu-item-depth-0>a:after { content: ''; height: 1px; width: 0; background: #65534D; position: absolute; bottom: 15px; left: 35px; -webkit-transition: width 0.8s ease-in-out; transition: width 0.8s ease-in-out; }
  .main-header .nav>li.current-menu-parent>a:after, .main-header .nav>li.current-menu-item.menu-item-depth-0>a:after, .main-header .nav>li>a:hover:after, .dropdown:hover a:after { width: 50px !important; }
  .main-header .nav>li:first-child>a:after { left: 0!important; }
  /*footer*/
  .site_by { text-align: right; font-size: 12px; color: #919191 }
  .site_by a { color: #919191 }
  /*product single*/
  .first-info, .warranty-info { padding-right: 40px }
  .enquire_this_product, .career_content, .jd { padding-right: 55px }
  .related-cat-brand-products, .become_member_blox, .domo_brand_img { padding-left: 30px }
  /*care and usage*/
  .full_img { padding-right: 25px }
  /*about*/
  .founder-quote { padding-left: 7em; padding-right: 4em }
  /*promotion*/
  .domo-promotion-banner { height: 795px; }
  /*brand enquire*/
  .brand-enquire-form { padding-right: 10em }
}


@media (min-width: 992px) and (max-width: 1065px) {
  .main-header .nav>li>a { padding: 25px 14px }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .news-archives article figure { width: 350px; height: 310px }
  .domo-care-usage a.view_more_btn { padding: 0 22px; font-size: 13px }

}

@media (max-width: 1152px) {
  .newsletter_box { min-height: 580px; }
  .newsletter_brandimage { min-height: 580px; }
  td.extra_info > div { width: 49% }
}

@media (min-width: 1200px) {
  .container { min-width: 1212px }
  .main-header .nav>li>a { padding: 25px 30px }
  .main-header .nav>li>a:after { left: 35px }
  .navbar-form { padding-right: 0 }
  .banner-info p>span>a { margin-right: 3em }
}
@media (min-width: 1200px) and (max-width: 1230px){
  .container { min-width: 1180px; width: 1180px }
}

@media (min-width: 1300px){
  .online-product-slider { padding-left: 0; padding-right: 0 }
  .online-product-slider .owl-prev { left: -30px }
  .online-product-slider .owl-next { right: -35px }
  .footerlinks { padding-left: 55px }
}
