<head>
<style>
  @page { margin: 90px 30px; margin-bottom: 170px; }
  html { font-family: "sans-serif"; }
  body { font-family: "sans-serif"; font-size:8pt; }
  .header-logo { width:200px; }
  .footer-logo { height:34px; margin-top:30px; display: block; }
  .today-date { position: absolute; right:0px; top:7px; }
  .divider { width:100%; border-bottom:3px solid #BAA898; margin-top:15px; }
  #header { position: fixed; left:0px; top:-60px; height:90px; right:0px; }
  #footer { position: fixed; left:0px; right:0px; bottom:-135px; height: 170px; }
  .page-number-holder { text-align: right; }
  .pagenum:before { content: "Page " counter(page); }
  .become-a-member { width: 45%; position: absolute; right:0px; top:50px; padding:10pt; border: solid 4px #7b9e98; color:#7b9e98; }
  .contact-us { width:45%; }
  .product-images { margin-bottom: 10px; margin-top:10px; }
  .product-images img { margin-right:2.5%; width:30%; border: 2px solid #ccc; }
  #content p { padding-top:5px; padding-bottom: 5px; width:100%; }
  #content h1 { margin-top: 2px; }
  .variation-images img { margin-right: 10px; width:46px; }
</style>
</head>
<body>
    <div id='header'>
      <img src='img/domo-logo-master.png' class='header-logo' />
      <div class='today-date'>{{date}}</div>
      <div class='divider'></div>
    </div>
    <div id='footer'>
      <div class='page-number-holder'><span class='pagenum'></span></div>
      <div class='divider'></div>
      <img src='img/domo-logo-master.png' class='footer-logo' />
      <div class='contact-us'>
        <p>
          <b>Contact us today to find out more.</b>
          <br>
          <br>
          <span>
            Visit our store locations page on the website to find your nearest DOMO store.
          </span>
        </p>
      </div>
      <br>
      <div class='become-a-member'>
        <b>SIGN UP TO BE A DOMO MEMBER & BE REWARDED</b>
        <p>
          Online discounts for members, special offers and exclusive sales plus the DOMO newsletter are just some of the member benefits.
        </p>
        <b>SIMPLY HEAD OVER TO OUR WEBSITE NOW TO SIGN UP</b>
      </div>
      <div class='divider'></div>
    </div>
    <div id="content">
      <img src='{{lifestyle_image}}' width='100%' />
      <br><br>
      <span>BRAND PROFILE//</span>
      <h1>{{name}}</h1>
      <b>{{country}}</b>
      <br>
      {{{content}}}
    </div>
</body>
