<head>
<style>
  @page { margin: 90px 30px; margin-bottom: 170px; }
  html { font-family: "sans-serif"; }
  body { font-family: "sans-serif"; font-size:8pt; }
  .header-logo { width:200px; }
  .footer-logo { height:34px; margin-top:30px; display: block; }
  .today-date { position: absolute; right:0px; top:7px; }
  .divider { width:100%; border-bottom:3px solid #BAA898; margin-top:15px; }
  #header { position: fixed; left:0px; top:-60px; height:90px; right:0px; }
  #footer { position: fixed; left:0px; right:0px; bottom:-135px; height: 170px; }
  .page-number-holder { text-align: right; }
  .pagenum:before { content: "Page " counter(page); }
  .become-a-member { width: 45%; position: absolute; right:0px; top:50px; padding:10pt; border: solid 4px #7b9e98; color:#7b9e98; }
  .contact-us { width:45%; }
  .product-images { margin-bottom: 10px; margin-top:10px; }
  .product-images img { margin-right:2.5%; width:30%; border: 2px solid #ccc; }
  #content p { padding-top:5px; padding-bottom: 5px; width:100%; }
  #content h1 { margin-top: 2px; font-size:11pt; }
  .variation-images img { margin-right: 10px; width:46px; }
  .wishlist-name { font-size: 11pt; display:block; }
  .product { padding-top:10px; padding-bottom:10px; }
  .product .row1 { display:inline-block; width:20%; }
  .product .row1 img { border:1px solid #000; }
  .product .row2 { display:inline-block; width:40%; }
  .product .row3 { display:inline-block; width:35%; }
  .has-line { border-bottom:1px solid #000; }
</style>
</head>
<body>
    <div id='header'>
      <img src='img/domo-logo-master.png' class='header-logo' />
      <div class='today-date'>{{date}}</div>
      <div class='divider'></div>
    </div>
    <div id='footer'>
      <div class='page-number-holder'><span class='pagenum'></span></div>
      <div class='divider'></div>
      <img src='img/domo-logo-master.png' class='footer-logo' />
      <div class='contact-us'>
        <p>
          <b>Contact us today to find out more.</b>
          <br>
          <br>
          <span>
            Visit our store locations page on the website to find your nearest DOMO store.
          </span>
        </p>
      </div>
      <br>
      <div class='become-a-member'>
        <b>SIGN UP TO BE A DOMO MEMBER & BE REWARDED</b>
        <p>
          Online discounts for members, special offers and exclusive sales plus the DOMO newsletter are just some of the member benefits.
        </p>
        <b>SIMPLY HEAD OVER TO OUR WEBSITE NOW TO SIGN UP</b>
      </div>
      <div class='divider'></div>
    </div>
    <div id="content">
      <h1>MY DOMO WISHLIST</h1>
      <span class='wishlist-name'>{{name}}</span>
      <br><br>
      {{# products}}
        <div class='product {{# show_line}}has-line{{/ show_line}}'>
          <div class='row1'>
            <img src='{{image}}' width='90%' />
          </div>
          <div class='row2'>
            <br><br>
            {{post_title}}
            <br>
            {{brand}}
            <br><br>
            {{{price}}}
          </div>
          <div class='row3'>
            <br><br>
            Stock Status
            <br>
            {{stock_status}}
            <br><br>
            {{# sku}}
            SKU: {{sku}}
            {{/ sku}}
          </div>
        </div>
      {{/ products}}
    </div>
</body>
